<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Angular OMDB</title>
  <script src="https://code.angularjs.org/1.4.8/angular.min.js"></script>
  <script type="text/javascript">
    (function() {
      angular
        .module("omdb", [])
        .factory("apiFactory", apiFactory)
        .controller("MainController", MainController)

      apiFactory.$inject = [ "$http" ];
      function apiFactory($http) {
        return {
          queryOmdb: queryOmdb
        }

        ////////////

        function queryOmdb(query) {
          var term = query.replace(/\s/, "+"); // replace any white space characters with a "+"
          var url = "http://omdbapi.com/?s=" + term;

          // fetch all movies matching the passed in title as JSON
          return $http.get(url)
        };

      };

      MainController.$inject = [ "apiFactory" ];
      function MainController(apiFactory) {
        var vm = this;

        vm.movies = [];
        vm.query = "";

        vm.queryOmdb = queryOmdb

        ////////////

        function queryOmdb(query) {
          apiFactory.queryOmdb(query)
            .then(function(res) {
              res.data.Search.forEach( function(item) {
                  vm.movies.push(item);
              });
            });
        }

      };
    })();
  </script>
</head>

<body data-ng-app="omdb" data-ng-controller="MainController as vm">
  <div class="heroText">
    <h1>Angular OMDB</h1>
  </div>

  <div>
    <form>
      <input type="text" placeholder="Enter a Movie Title..." ng-model="vm.query">
      <button ng-click="vm.queryOmdb(vm.query)">Add</button>
    </form>
  </div>

  <div class="content">
    <ul>
      <li data-ng-repeat="movie in vm.movies"> {{ movie.Title }} </li>
    </ul>
  </div>

</body>
</html>
