<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Angular OMDB</title>
  <script src="https://code.angularjs.org/1.4.8/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="apiFactory.js"></script>
  <script type="text/javascript" src="mainController.js"></script>
</head>

<body data-ng-app="omdb" data-ng-controller="MainController as vm">
  <div class="heroText">
    <h1>Angular OMDB</h1>
  </div>

  <div>
    <form>
      <input type="text" placeholder="Enter a Movie Title..." ng-model="vm.query">
      <button ng-click="vm.queryOmdb(vm.query)">Add</button>
    </form>
  </div>

  <div class="content">
    <ul>
      <li data-ng-repeat="movie in vm.movies"> {{ movie.Title }} </li>
    </ul>
  </div>

</body>
</html>
